<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- JDBC настройки -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/mydatabase</property>
        <property name="hibernate.connection.username">myuser</property>
        <property name="hibernate.connection.password">mypassword</property>

        <!-- Настройка пула HikariCP -->
        <property name="hibernate.hikari.minimumIdle">5</property>
        <property name="hibernate.hikari.maximumPoolSize">20</property>
        <property name="hibernate.hikari.idleTimeout">300000</property>
        <property name="hibernate.hikari.maxLifetime">600000</property>

        <!-- Управление схемой -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Логирование SQL-запросов -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.use_sql_comments">false</property>
        <property name="hibernate.generate_statistics">false</property>

        <!-- Аннотированные классы -->
        <mapping class="org.gerasic.persistance.entities.AccountEntity"/>
        <mapping class="org.gerasic.persistance.entities.UserEntity"/>
        <mapping class="org.gerasic.persistance.entities.TransactionEntity"/>
    </session-factory>
</hibernate-configuration>
